body {
  max-width: 100ch;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

nav ul,
nav li {
  display: contents;
}

nav {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
  align-items: center;
  font-size: 2rem;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}
nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a:hover {
  background-color: #ddd;
  border-radius: 5px;
}